h1 {
    text-align: center;
    text-decoration: underline;
    color: #333;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.content {
    height: 500px;
    width: 50%;
    border: 1px solid #333;
}
div .sub-content {
    height: 33.3%;
}
div .sub-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}